<div class="contenedor fondo">

<label>nombre de la pelicula</label> <br>
<input class="nombrepelicula texto-nombre" [(ngModel)]="peliculaActual" type="text" /> <br>
<label> Genero de la pelicula</label> <br>
<input class="tipopelicula texto-tipo" [(ngModel)]="tipoDePelicula" type="text"/>  <br>
<label> Duracion de la pelicula</label> <br>
<input class="Duracionpelicula texto-duracion" [(ngModel)]="duracionDePelicula" type="number"/>  <br>

<button class="boton_azul agregar" (click)="agregarPelicula()">Agregar</button>
<p class="textopelicula">la pelicula</p>
Pelicula agregadas:
      <table class="colorpelicula" style="width:100%">
        <tr>
          <th>Nombre</th>
          <th>Genero</th>
          <th>Duracion</th>
          <th>Borrar</th>
        </tr>
        <tr *ngFor="let pelicula of listaPeliculas; let i = index">
          <td>{{pelicula.titulo}}</td>
          <td>{{pelicula.tipo}}</td>
          <td>{{pelicula.duracion}}</td>
          <td><button class="borrar borrar-texto" (click)="borrarPelicula(i)">Borrar</button></td> 
        </tr>
      </table>

    
    <p></p>

    <img class="textopeliculacartel" src="https://pics.filmaffinity.com/La_guerra_de_las_galaxias_Episodio_I_La_amenaza_fantasma-434398792-large.jpg" alt="Poster de la pelicula: Star Wars La guerra de las galaxias Episodio I La amenaza fantasma">

<button class="boton_listas app-listas"> ir a app-listas <a routerLink="/listas"></a></button>
<button class="boton_carga app-carga"> ir a app-carga <a routerLink="/carga"></a></button>


<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Categoria</th> 
    <th>Borrar</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>